{% load static i18n %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="uk" lang="uk">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="title" content="Студійний комплекс - FILM.UA Group" />
<meta name="description" content="Студійний комплекс" />
<meta name="keywords" content="FILM.UA Group" />
<meta name="language" content="uk" />
  <title>Студійний комплекс - FILM.UA Group</title>
  <meta property="og:title" content="Студійний комплекс" />
<meta property="og:url" content="https://film.ua/uk/studio" />
<meta property="og:description" content="Студійний комплекс" />
<meta property="og:type" content="article" />
<meta property="fb:admins" content="100001517933477" />
<meta property="og:image" content="https://film.ua/images/social_logo.jpg" />
<meta property="og:site_name" content="FILM.UA Group" />

  <meta http-equiv="content-language" content="uk" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="shortcut icon" href="/favicon.ico" />
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script src="https://apis.google.com/js/platform.js"></script>


  <link rel="stylesheet" type="text/css" media="screen" href="/css/filmua.css?v=2.0.4" />
<link rel="stylesheet" type="text/css" media="screen" href="/js/flexslider/flexslider.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/js/fancybox/jquery.fancybox.css" />
  <script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/respond.min.js"></script>
<script type="text/javascript" src="/js/swfobject.js"></script>
<script type="text/javascript" src="/js/virtualtour.js"></script>
<script type="text/javascript" src="/js/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="/js/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/main.js?v=2.0.4"></script>
<script type="text/javascript" src="/js/jwplayer/jwplayer.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900italic,900&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

  <link rel="image_src" href="//film.ua/images/logo.png" />
  <script async src='https://www.influ2.com/tracker?clid=2f7fda60-f8cc-4ded-8438-c304660f7b89'></script>

</head>
<body class="static_page static_page studio uk">


<div id="header">
  <div class="b-header">
    <div class="b-header-holder">
      <div class="b-logo">
                  <a href="/uk/"><img src="/images/logo.png" alt="Site name" /></a>
              </div>


      <div class="b-header-menu">
        <a href="/uk/news" class="news">Новини</a>
        <a href="/uk/about" class="aboutus">Про групу</a>
        <a href="/uk/services" class="services">Сервіси</a>
        <a href="/uk/contacts" class="contacts">Контакти</a>
        <a href="https://store.film.ua" target="_blank">Магазин</a>
      </div>

      <div class="b-header-social">
	<a href="https://www.youtube.com/c/FILMUALIVE" target="_blank" class="filmualive" ></a>
        <a href="https://www.facebook.com/pages/FILMUA-Group/137015176317180" target="_blank" class="facebook"></a>
        <a href="https://www.instagram.com/filmua/" target="_blank" class="instagram"></a>
        <a href="https://t.me/filmuagroup" target="_blank" class="telegram"></a>
        <a href="https://www.youtube.com/user/FilmUaGroup?feature=mhee" target="_blank" class="yt"></a>
        <a href="https://www.amazon.com/gp/video/storefront/ref=atv_app_avd_vnt_plp_RzNNNUY?ie=UTF8&plpId=RzNNNUY" target="_blank" class="amazon"></a>
        <a href="https://pro.imdb.com/company/co0352409/maindetails" target="_blank" class="imdb"></a>
        <a href="https://www.linkedin.com/company/1084187?trk=tyah" target="_blank" class="linkedin"></a>
        <a href="https://twitter.com/filmuagroup" target="_blank" class="twitter"></a>
      </div>

      <div class="b-lang" id="lang-block">

              </div>
    </div>
  </div>

  <div class="b-main-menu" id="main-menu">
    <div class="h-main-menu">
      <a href="javascript:;" class="closemenu" onclick="$('#main-menu').toggle(); $('#main-menu').toggleClass('open')"></a>
      <div class="b-top-menu">
        <div class="b-top-menu-links">
          <ul>
                        <li><a href="/uk/production" class="production">Продакшн</a></li>
            <li><a href="/uk/postproduction" class="postproduction">Постпродакшн</a></li>
            <li><a href="/uk/studio" class="studio active">Студійний комплекс</a></li>
            <li><a href="/uk/distribution" class="distribution">Дистрибуція</a></li>
            <li><a href="/uk/broadcasting" class="broadcasting">Бродкастинг</a></li>
            <li><a href="/uk/consulting" class="consulting">Медіаконсалтинг</a></li>
            <li><a href="/uk/education" class="faculty">Освітні проекти</a></li>
            <li><a href="/uk/unglobalcompact" class="unglobalcompact">We Support UN Global Compact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-page-line">
  <div class="h-page-line">
    <div class="b-page-name">Замовлення</div>
  </div>

</div>

<div class="b-body-content">
  <div class="b-wrap">
    <div class="b-page clear">
      <div class="b-content clear">

    <div class="b-content-area">

      <div class="b-block-holder">
  <div class="b-static-text clear">

{% block content %}

{% endblock content %}

  </div>


    </div>

    </div>


      </div>
    </div>
  </div>
</div>

<div class="b-footer">
  <div class="b-copyright">
    <div class="h-copyright">
      <div class="b-copyright-address"><p>FILM.UA Group</p>
<p>вул. Миколи Закревського, 22, м. Київ, 02232, Україна</p>
<p>тел.: 0 800 308 028, +380 44 501-39-71     факс: +380 44 546-68-97     e-mail: <a href="mailto:info@film.ua">info@film.ua</a></p></div>
      <div class="b-copyright-text">Copyright © FILM.UA Group 2023. <p>Сайт розроблено в <a href="http://argentum.ua">Argentum IT Lab</a></p> <a href="https://film.ua/uk/" class="link"></a></div>
      <div class="b-footer-social">
        <a href="https://www.facebook.com/pages/FILMUA-Group/137015176317180" target="_blank" class="facebook"></a>
        <a href="https://www.instagram.com/filmua/" target="_blank" class="instagram"></a>
        <a href="https://t.me/filmuagroup" target="_blank" class="telegram"></a>
        <a href="https://www.youtube.com/user/FilmUaGroup?feature=mhee" target="_blank" class="yt"></a>
        <a href="https://www.amazon.com/gp/video/storefront/ref=atv_app_avd_vnt_plp_RzNNNUY?ie=UTF8&plpId=RzNNNUY" target="_blank" class="amazon"></a>
        <a href="https://pro.imdb.com/company/co0352409/maindetails" target="_blank" class="imdb"></a>
        <a href="https://www.linkedin.com/company/1084187?trk=tyah" target="_blank" class="linkedin"></a>
        <a href="https://twitter.com/filmuagroup" target="_blank" class="twitter"></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>