  <meta http-equiv="content-language" content="uk" retry="2222221"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="shortcut icon" href="/favicon.ico" />
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script src="https://apis.google.com/js/platform.js"></script>


  <link rel="stylesheet" type="text/css" media="screen" href="/css/filmua.css?v=2.0.4" />
<link rel="stylesheet" type="text/css" media="screen" href="/js/flexslider/flexslider.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/js/fancybox/jquery.fancybox.css" />
  <script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/respond.min.js"></script>
<script type="text/javascript" src="/js/swfobject.js"></script>
<script type="text/javascript" src="/js/virtualtour.js"></script>
<script type="text/javascript" src="/js/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="/js/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/main.js?v=2.0.4"></script>
<script type="text/javascript" src="/js/jwplayer/jwplayer.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900italic,900&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

  <link rel="image_src" href="//film.ua/images/logo.png" />
