{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% include 'home/css_list.html' %}
{% endblock extra_css %}

{% block content %}

{% for item in announcements %}

<h2><a href="{{item.slug}}">{{item.title}}</a></h2>

<p>початок {{item.date_start}} до {{item.date_end}} включно<p>

{% endfor %}

{% comment %}
just comment
{% endcomment %}


{% endblock content %}
